#main {
    color: #232129;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
  
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #1d70b8;
}

#content-container {
    max-width: 600px; 
    padding: 1.5rem;
}

.auto-complete {
    position: relative;
    flex: 1;
}
.auto-complete-container {
    display: flex;
    margin: 2rem 0;
}
.auto-complete-container__search {
    color: #ffffff;
    cursor: pointer;
    background-color: #B643DB;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
    border-width: 0;
}

.auto-complete__input {
    border: none;
    border-color: #ffffff;
    border-top-left-radius: 5px;
    font-size: 1.25rem;
    border-bottom: 1px solid grey;
    padding: 0.5rem;
    width: 100%;
}
.auto-complete__suggestions {
    position: absolute;
    top: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid;
    border-top: none;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 10;
}
.suggestions__text {
    cursor: pointer;
    margin: 0;
    padding: 0.25rem 0.5rem;
    list-style-type: none;
}
.suggestions__text:hover {
    background-color: #D3D3D3;
}

.results-box {
    position: relative;
    background-color: #ffffff;
    padding: 1rem;
    padding-right: 100px;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 2px solid #155389;
}
.results-box__text {
    margin: 0.5rem 0;    
}
.results-box__sub-text {
    color: #808080;
    margin: 0.5rem 0;
    font-size: 0.8rem;
}

.header {
    font-size: 1.953rem;
    color: #ffffff;
    margin: 1rem 0;
}

.intro__sub-header {
    color: #ffffff;
    margin: 1rem 0;
}

.icon {
    display: inline-flex;
    vertical-align: bottom;
    margin-right: 0.25rem;
}
.icon__cross {
    position: absolute;
    color: rgba(230, 67, 60, 0.8);
    bottom: -24px;
    right: -24px;
    height: 100px;
    width: 100px;
}
.icon__check {
    position: absolute;
    color: rgba(72, 184, 30, 0.5);
    bottom: -24px;
    right: -24px;
    height: 100px;
    width: 100px;
}